.ProductWeight{

  li {
    padding: 10px 0;
    display: flex;
    flex-flow: row;

    strong {
      width: 80px;
      display: inline-block;
      font-size: 14px;
    }

  form {
    width: 80px;
  }
}