.Cart {
  margin-top: 100px;

  main {
    padding: 100px 400px;

    .shoppingCart {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h1 {
      margin: 100px 0 20px 0;
      font-size: 50px;
    }

    .shoppingStep {
      font-size: 15px;
      margin-bottom: 50px;

      li {
        display: inline-block;
        margin: 0 10px;
      }
    }

    .PriceProduct {
      h2 {
        padding-bottom: 10px;
        font-size: 30px;
        font-family: 'Gothic A1', sans-serif;
        border-bottom: 1px solid black;
      }

      .selectedProducts {
        height: 100%;

        .thread {
          height: 20%;

          ul {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            padding: 20px 10px;
            height: 100%;
            border-bottom: 1px solid #bdbdbd;

            li {
              display: inline-block;
              font-size: 50px;
              font-family: 'Gothic A1', sans-serif;
            }
          }
        }

        .body {
          height: 80%;
          ul {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            padding: 20px 10px;
            height: 100%;
            border-bottom: 1px solid #bdbdbd;

            li {
              font-size: 20px;
            }

            li:nth-child(1) {
              width: 30px;
            }
          }
        }
      }

      .priceAll {
        line-height: 100px;
        text-align: center;
        vertical-align: middle;
        font-size: 20px;
        font-family: 'Gothic A1', sans-serif;
        background-color: #e3e3e3;
      }
    }

    button {
      margin-top: 10px;
      font-size: 14px;
      font-family: 'Gothic A1', sans-serif;
      background-color: transparent;
    }
  }
}
