@import '../../Styles/common.scss';

.Cart {
  margin-top: 100px;

  main {
    padding: 50px 300px;

    .shoppingCart {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h1 {
      margin: 100px 0 20px 0;
      font-size: 50px;
    }

    .shoppingStep {
      font-size: 15px;
      margin-bottom: 50px;

      li {
        display: inline-block;
        margin: 0 10px;
      }
    }

    .PriceProduct {
      h2 {
        padding-bottom: 10px;
        font-size: 30px;
        font-family: 'Gothic A1', sans-serif;
        border-bottom: 1px solid black;
      }

      table {
        width: 100%;

        thead {
          tr {
            border-bottom: 1px solid #bdbdbd;

            th {
              padding: 10px 0;
              text-align: center;
              font-size: 15px;
              font-family: 'Gothic A1', sans-serif;
            }
          }
        }

        tbody {
          tr {
            border-bottom: 1px solid #bdbdbd;

            td {
              text-align: center;
              font-size: 15px;
              font-family: 'Gothic A1', sans-serif;
            }

            .product {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 30px 0;

              img {
                width: 100px;
                height: 100px;
              }

              .productInfo {
                margin-left: 30px;

                h3 {
                  font-size: 15px;
                }

                p {
                  color: #908d8d;
                }
              }
            }

            .quantity {
              li {
                padding: 10px 0;

                .price {
                  font-size: 16px;
                  font-family: sans-serif;
                  font-weight: bold;
                }
                span {
                  width: 80px;
                }
                .count {
                  display: inline-block;
                  width: 155px;
                  line-height: 42px;
                  vertical-align: middle;
                  border: 1px solid $light-gray;
                  .minus {
                    @extend .pmButton;
                  }
                  .inputCount {
                    width: 30px;
                    height: 20px;
                    text-align: center;
                    font-size: 15px;
                    font-family: 'Gothic A1', sans-serif;
                    border: none;
                  }
                  .plus {
                    @extend .pmButton;
                  }
                }
              }
            }
          }

          tr:nth-child(1) {
            border: 0;
          }
        }
      }

      .priceAll {
        line-height: 100px;
        text-align: center;
        vertical-align: middle;
        font-size: 20px;
        font-family: 'Gothic A1', sans-serif;
        background-color: #e3e3e3;
      }
    }

    button {
      margin-top: 10px;
      font-size: 14px;
      font-family: 'Gothic A1', sans-serif;
      background-color: transparent;
    }

    .buttonContainer {
      display: flex;
      justify-content: center;
      margin-top: 70px;

      .shoppingContinue {
        text-align: center;
        margin-right: 30px;
        width: 250px;
        line-height: 70px;
        vertical-align: middle;
        border: 1px solid black;
        font-family: 'Gothic A1', sans-serif;
        font-size: 15px;
        font-weight: bolder;
      }
      .order {
        text-align: center;
        width: 250px;
        line-height: 70px;
        vertical-align: middle;
        background-color: black;
        color: white;
        font-family: 'Gothic A1', sans-serif;
        font-size: 15px;
        font-weight: bolder;
      }
    }
  }
}
