@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@700&display=swap');
@import './reset.scss';

* {
  box-sizing: border-box;
  font-family: 'Chivo', sans-serif;
}
body {
  margin: 0;
}

input {
  border: none;
  outline: none;
}

button {
  outline: none;
}
