@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@700&family=Gothic+A1&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Chivo', sans-serif;
}
body {
  margin-top: 100px;
}

input {
  border: none;
  outline: none;
}

button {
  outline: none;
}

.pmButton {
  margin: 0 10px;
  width: 30px;
  line-height: 20px;
  vertical-align: middle;
  font-size: 15px;
  font-family: 'Chivo', sans-serif;
  background-color: white;
}

.korean {
  * {
    font-family: 'Gothic A1', sans-serif;
  }
}

%flex-center {
  display: flex;
  justify-content: center;
}

%flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$light-gray: #d3d3d3;

$dark-gray: #6d6d6d;

$Gothic-font: 'Gothic A1', sans-serif;
