@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Mono:wght@200&display=swap');

$light-gray: #d3d3d3;

$dark-gray: #6d6d6d;

.pmButton {
  width: 50px;
  height: 40px;
  font-size: 20px;
  font-family: 'Cabin', sans-serif;
  background-color: white;
}

%flex-center {
  display: flex;
  justify-content: center;
}

%flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
