.ProductDetail {
  margin-top: 100px;

  .plusReview {
    width: 960px;
    height: 233px;
    margin: 0 auto;
    border: 1px solid blue;
    display: flex;
    justify-content: center;

    .photoReview {
      // width: 745px;
      width: 60%;
      height: 188px;
      background-color: orangered;
      padding: 27px 20px 0;
    }
    .scoreContainer {
      // width: 425px;
      width: 40%;
      height: 188px;
      background-color: orchid;
    }
  }

  .detailContainer {
    width: 960px;
    height: 3796px;
    margin: 0 auto;
    // background-color: yellowgreen;

    .tab {
      width: 100%;
      height: 127px;
      background-color: yellow;
    }

    .detailHeader {
      width: 100%;
      height: 282px;
      margin: 144px 0;
      background-color: pink;
      text-align: center;
    }
  }
}
