.MainSectionRecommend {
  padding: 100px 0 70px 0;

  h2 {
    margin-bottom: 10px;
    font-size: 35px;
    font-family: 'Gothic A1', sans-serif;
  }
  .recommendWrapper {
    display: flex;
    align-items: center;
    margin: 0 400px;

    .recommendContainer {
      overflow: hidden;
      text-align: center;

      .recommendCarousel {
        display: flex;
        width: 900px;

        .recommendLists {
          transition: left 0.5s ease-out;
          li {
            margin: 25px;
            text-align: center;

            img {
              width: 250px;
              height: 250px;
            }

            h3,
            p {
              margin: 10px 0;
              font-size: 15px;
              font-family: 'Gothic A1', sans-serif;
            }
          }
        }
      }
    }

    button {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      font-size: 40px;
      color: #bdbdbd;
      background-color: white;
    }
  }
}
