.Footer {
  margin-top: 100px;
  color: white;
  background-color: black;

  .footerImages {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    background-color: lightgray;
  }

  .footerMain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 500px;
    height: 450px;

    .footerLog {
      width: 30%;
      font-size: 35px;
    }

    .footerSubscribe {
      width: 70%;

      form {
        height: 45px;

        input {
          width: 400px;
          border-radius: 0;
          height: 100%;
        }

        button {
          width: 100px;
          height: 100%;
          border: 1px white solid;
          background-color: black;
          color: white;
        }
      }

      p {
        margin: 10px 0;
        width: 500px;
        font-size: 15px;
        font-weight: bolder;
      }
    }
  }
}
