.CategoryProducts {
  position: fixed;
  padding: 30px 300px 50px 350px;
  width: 100%;
  background-color: #333;
  z-index: 1;

  .categoryContainer {
    display: flex;
    justify-content: center;

    ul {
      margin-right: 10px;

      li:nth-child(1) {
        color: white;
        font-size: 17px;
      }

      li {
        margin-top: 15px;
        width: 100%;
        min-width: 100px;
        font-size: 14px;
        font-family: 'Gothic A1', sans-serif;
        font-weight: bolder;
        color: grey;

        &:hover {
          color: white;
          transition: 0.5s;
        }
      }
    }
  }
}
